// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import url('https://fonts.googleapis.com/css?family=Open-Sans');

//$font-size-root: 100px;

$body-font-family: 'Sans';
$title-font: 'Sans';

.nav-items {
  flex: auto;
  align-content: center;
}
